<link rel="stylesheet" href="styles/nv.d3.css">
<div class="graph-canvas">
</div>
<div class="graph-button">
    <h6 class="text-center">
        <span class="glyphicon glyphicon-chevron-down"></span>
        CLICK TO SEE CHART
        <span class="glyphicon glyphicon-chevron-down"></span>
     </h6>
</div>
