<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand glyphicon glyphicon-leaf"  data-toggle="collapse" data-target=".navbar-collapse" href="#">
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <a class="navbar-brand" href="#"> Newsline </a>
            <form class="navbar-form navbar-right" role="search" id="searchForm">
                <div class="form-group">
                    <input type="text" name="test" placeholder="Search" class="form-control">
                </div>
                <button type="submit" class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</div>
